.bg-2 {
  overflow: hidden;
  z-index: -5;
  width: 250vw;
  margin-left: -110%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-1 {
  overflow: hidden;
  z-index: -5;
  width: 150vw;
  margin-left: -50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testt {
  width: 100%;
  top: 0;
}
.navindex {
  z-index: 2;
}

