$yellow: #FFB400;
$green: #22B14C;
$grey: #474746;
$white:#fff;
$blue:#0085FF;
$darkblue:#3B5999;
$red:#FB6241;
$black: #000;
$google:#DE4B38;
$facebook: #3B5999;
$warning: #EC1A1A;

/*dark theme*/

$darkTHEME_dark: #40403E;
