$Open_Sans: "Open Sans", sans-serif;
$Roboto_Sans: "Roboto", sans-serif;
$BalooDa2: "Baloo Da 2", cursive;
$Raleway_Sans: 'Raleway', sans-serif;
$AsapCon: 'Asap Condensed', sans-serif;
$JosefinSans: 'Josefin Sans', sans-serif;