#home-slider {
    .swiper-button-next {
        background-image: url(/src/images/arrow-01.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        color: #22b14c;
        // margin-top: -21%;
        width: 6%;
        // height: 100%;
    }

    .swiper-button-prev {
        background-image: url(/src/images/leftArrow-01.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        color: #22b14c;
        // margin-top: -21%;
        width: 6%;
        // height: 100%;
    }

    // .swiper-button-prev:hover {
    //     background-color: rgba(0, 0, 0, 0.247);
    //     transition: all 0.5s;
    // }

    // .swiper-button-next:hover {
    //     background-color: rgba(0, 0, 0, 0.247);
    //     transition: all 0.5s;
    // }

    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination-progressbar {
        background-color: #22b14c;
    }

    .swiper-pagination-progressbar-fill {
        background-color: yellow;
    }

    .swiper-slide {
        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
