/*NAVBAR*/
.navbar-wrapper-dark-theme {
  background-color: rgb(62, 64, 64);
  transition: all 1s;
}

.navbar-logo-name-dark-theme {
  color: #fff;
}

.links-dark-theme {
  color: #fff;
}

.profile-dropdown-dark-theme {
  color: #fff;
}

.dropdown-content-dark-theme {
  background-color: $darkTHEME_dark;
  transition: all 1s;
}

.dropdown-content-dark-theme a {
  color: #fff;
}

.dropdown-content-dark-theme a:hover {
  background-color: rgb(85, 84, 55);
}
.navbar-dd-links-dark-theme {
  background-color: $darkTHEME_dark;
}

.each-link-dark-theme {
  color: #fff;
}

.log-reg-symbol-text-dark-theme {
  color: #fff;
}

/*LOGIN PAGE*/
.round-dark-theme {
  background-color: $darkTHEME_dark;
  transition: all 1s;
}

.or-text-dark-theme {
  color: #fff;
}
.password-remember-link-dark-theme {
  color: #fff;
}
.check-dark-theme {
  color: #fff;
}

/*sandMenuButton*/

.firstLine-dark-theme {
  background-color: #fff;
}
.secondLine-dark-theme {
  background-color: #fff;
}

.thirdLine-dark-theme {
  background-color: #fff;
}

.firstLine-off-dark-theme {
  background-color: #fff;
}

.secondLine-off-dark-theme {
  background-color: #fff;
}
