.facebook-btn{
    width: 100%;
    background-color: $facebook;
    font-family: $Raleway_Sans;
    color: $white;
}

.facebook-image{
    width: 30px;
}

.facebook-title{
    align-self: center;
    font-size: 0.8rem;
}

