.btn-verify-product{
    background-color: $yellow;
    border-radius: 0 6px 6px 6px;
    font-family: $Raleway_Sans;
    font-size: black;
    color: $white;
    width: 265px;
}

/**********************************************/

